#statusBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #000000;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    min-width: 360px;
}

.statusElement {
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.1s ease;
}

.statusElement:hover {
    background-color: rgba(220, 209, 209, 0.347);
}

#statusBarIcon {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#statusBarIcon img {
    height: 30px;
    width: 30px;
}

#statusTitle {
    vertical-align: 24%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    font-family: '思源黑体', 'Noto Sans CJK', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#versionInfo {
    font-family: 'JetBrains Mono', monospace;
    color: #ccc;
    text-decoration: underline;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
}

#currentStatus {
    font-family: 'JetBrains Mono', monospace;
    color: #ccc;
    text-align: right;
    text-decoration: none;
    width: 40%;
    align-self: center;
    margin-left: auto;
    margin-right: 2%;
    font-size: 10px;
}

.container {
    display: flex;
    margin-top: 50px;
}

.left-content {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}

.right-content {
    position: fixed;
}

.log-area {
    /* flex: 1; */
    overflow-y: auto;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 100px);
}

.total-score {
    /* height: 50px; */
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: sticky;
    bottom: 0;
}

#refreshIcon {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#shareIcon {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

@media (max-width: 480px) {
    .left-content {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .right-content {
        width: 100%;
        min-width: 360px;
        position: fixed;
        left: 0;
        top: 40px;
        max-height: min(240px, 50vh);
    }

    .right-content .log-area {
        border-radius: 10px 10px 0 0;
        max-height: min(240px, 45vh);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .right-content .log-area .collapsed {
        display: none;
    }

    .right-content .total-score {
        height: 30px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
        /* border-radius: 0 0 10px 10px; */
    }
}

@media (min-width: 481px) {
    .right-content {
        width: 40%;
        right: 0;
        top: 45px;
        padding: 10px;
        padding-bottom: 10px;
        height: 93%;
        box-sizing: border-box;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .right-content .log-area {
        border-radius: 10px 10px 0px 0px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .right-content .total-score {
        height: 50px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 10px 10px;
    }
}

@media (max-width: 480px) {
    .left-content {
        padding-left: calc(max((100% - 250px) / 2, 0px));
    }
}