#statusBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #000000;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.statusElement {
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.1s ease;
}

.statusElement:hover {
    background-color: rgba(220, 209, 209, 0.347);
}

#statusBarIcon {
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}

#statusBarIcon img,
#statusBarIcon svg {
    height: 25px;
    width: 25px;
}

#statusTitle {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: '思源黑体', 'Noto Sans CJK', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    align-self: flex-end;
    text-decoration: none;
}

#versionInfo {
    font-family: 'JetBrains Mono', monospace;
    color: #ccc;
    text-decoration: underline;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
}

#currentStatus {
    font-family: 'JetBrains Mono', monospace;
    color: #ccc;
    text-align: right;
    text-decoration: none;
    width: 60%;
    align-self: center;
    margin-left: auto;
    margin-right: 2%;
    font-size: 10px;
}

.container {
    display: flex;
    margin-top: 50px;
}

.left-content {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}

.right-content {
    width: 30%;
    position: fixed;
    right: 0;
    top: 50px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}