.complex-panel-outer,
.panel {
    width: 250px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    box-sizing: border-box;
    border-radius: 13px 13px;
    border-color: rgb(98, 140, 224);
    border-width: 2px;
    box-shadow: 3px 3px 10px #0c0f24;
}

.panel-title-box {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.panel-title {
    font-size: 15px;
    margin-top: 5px;
}

.panel-subtitle {
    font-size: 10px;
    margin-bottom: 5px;
    color: gray;
}

.panel-summary-box {
    background-color: black;
    color: white;
    height: 30px;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 10px 10px;
    display: flex;
    padding: 0 10px;
}

.panel-summary-box .summary-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .panel-summary-box .summary-container:first-child {
    justify-content: flex-start;
}

.panel-summary-box .summary-container:last-child {
    justify-content: flex-end;
} */

.panel-summary-box .summary-label,
.panel-summary-box .summary-value {
    font-size: 15px;
    align-items: center;
}

.complex-select-box,
.panel-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0;
    border-top: 1px solid #ccc;
}

.complex-select-box .item-select,
.panel-select .item-select {
    flex-grow: 1;
    margin: 0 10px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    outline: none;
}

.append-button {
    background: none;
    border: none;
    cursor: pointer;
}

.panel-item.collapsed {
    display: none;
}

.panel-item {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    border-bottom: 1px solid #ddd;
}

.panel-item:last-child {
    border-bottom: none;
}

.panel-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.panel-item .item-name {
    flex-grow: 1;
    font-size: 14px;
}

.panel-item .operation {
    display: flex;
    align-items: center;
}

.panel-item .operation button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.panel-item .operation .item-count {
    width: 20px;
    text-align: center;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
}

.panel-item .operation .item-count:focus {
    border-color: blue;
}

.panel-item .operation .item-value {
    width: 60px;
    text-align: center;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
}

.panel-item .operation .item-value:focus {
    border-color: blue;
}

.switch {
    width: 40px;
    height: 20px;
    background-color: gray;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.switch .slider {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 0.3s;
}

.switch.active {
    background-color: green;
}

.switch.active .slider {
    left: 21px;
}